.slider {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0rem;
  top: 0rem;
  margin: auto;
  z-index: -200;
}

.slider li {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -100;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.slider li:first-child {
  background-image: url(JUD_4297-2.jpg);
  opacity: 1;
}

.slider li:nth-child(2) {
  background-image: url(5.jpg);
}

.slider li:last-child {
  background-image: url(6.jpg);
}

.photo {
  background-image: url(19-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -98;
}


nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5rem;
  z-index: 1;
  transition: all .3s ease-in-out;
}

nav.onzichtbaar {
  right: -100vw;
}

nav a {
  display: block;
  text-decoration: none;
  font-size: 2.25rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-family: Nunito;
}

.icon {
  position: absolute;
  top: 7%;
  right: -5%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 2;
}

.hamburger {
  width: 30px;
  height: 4px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}


footer {
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
}

footer a {
  padding: 0.2rem;
  font-size: 0.8rem;
  font-family: Nunito;
  text-decoration: none;
  border-radius: 5rem;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 10rem;
  z-index: 0;
}

.flyinn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.flyinn li {
  display: inline-block;
  margin-right: 3px;
  font-family: Nunito;
  font-size: 3rem;
  opacity: 1;
  transition: all 2.5s ease;
}

.flyinn li:last-child {
  margin-right: 0;
}

.flyinn.hidden li {
  opacity: 0;
}

.flyinn.hidden li:nth-child(1) {
  transform: translateX(-200px) translateY(-200px);
}

.flyinn.hidden li:nth-child(2) {
  transform: translateX(20px) translateY(100px);
}

.flyinn.hidden li:nth-child(3) {
  transform: translateX(-150px) translateY(-80px);
}

.flyinn.hidden li:nth-child(4) {
  transform: translateX(10px) translateY(-200px);
}

.flyinn.hidden li:nth-child(5) {
  transform: translateX(-300px) translateY(200px);
}

.flyinn.hidden li:nth-child(6) {
  transform: translateX(20px) translateY(-20px);
}

.flyinn.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px);
}

.flyinn.hidden li:nth-child(8) {
  transform: translateX(80px) translateY(-200px);
}

.flyinn.hidden li:nth-child(9) {
  transform: translateX(-170px) translateY(200px);
}

.flyinn.hidden li:nth-child(10) {
  transform: translateX(50px) translateY(100px);
}

.flyinn.hidden li:nth-child(11) {
  transform: translateX(-350px) translateY(50px);
}

.flyinn.hidden li:nth-child(12) {
  transform: translateX(550px) translateY(-100px);
}

.flyinn.hidden li:nth-child(13) {
  transform: translateX(-250px) translateY(250px);
}

.flyinn.hidden li:nth-child(14) {
  transform: translateX(-50px) translateY(120px);
}

.flyinn.hidden li:nth-child(15) {
  transform: translateX(-420px) translateY(160px);
}

@supports (grid-area: auto) {

  /* we weten hier: ondersteuning voor grid-layout */
  @media (min-width: 870px) {
    .photo {
      display: none;
    }

    .icon {
      top: 7%;
      right: 0%;
    }

    .logo {
      width: 15rem;
    }

    nav {
      width: 30vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      padding: 5rem;
      z-index: 0;
    }

    nav.onzichtbaar {
      right: -30vw;
    }

    .flyinn li {
      font-size: 4rem;
      padding: 0.8rem;
    }
	}
		@media (min-width: 980px){
			.flyinn li {
	      font-size: 6rem;
	    }
  }
}
