nav {
  background-color: black;
}

nav a {
  color: white;
}

footer a {
  color: white;
  border: solid black 0.2rem;
  background-color: black;
}

footer a:hover {
  border: solid white 0.2rem;
}
.flyinn li{
  color: black;
}
