nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5rem;
  z-index: 1;
  transition: all .3s ease-in-out;
}

nav.onzichtbaar {
  right: -100vw;
}

nav a {
  display: block;
  text-decoration: none;
  font-size: 2.25rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-family: Nunito;
}

.icon {
  position: absolute;
  top: 7%;
  right: -5%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 2;
}

.hamburger {
  width: 30px;
  height: 4px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}
.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 10rem;
  z-index: 0;
  display: none;
}
footer a {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: Nunito;
  text-decoration: none;
  border-radius: 5rem;
}
footer{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
main{
  padding: 2rem;
  padding-top: 7rem;
}
main img{
  max-width: 100%;
}
@supports (grid-area: auto) {

  /* we weten hier: ondersteuning voor grid-layout */
  @media (min-width: 870px) {
    .icon {
      top: 7%;
      right: 0%;
    }
    main img{
      max-width: 60%;
    }
    main{
      padding-left: 30%;
    }
    nav {
      width: 30vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      padding: 5rem;
      z-index: 0;
    }
    nav.onzichtbaar {
      right: -30vw;
    }
	}
}
